<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.it.dao.EcmdbMapper" >
    <!--接收返回数据-->
    <resultMap id="ResultMap" type="com.it.domain.MmsInter" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="resultcode" property="resultcode" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, value, resultcode
    </sql>

    <!--批量增加 但是有主键无法插入-->
    <insert id="insertInterList" parameterType="java.util.List"  useGeneratedKeys="true">
        <selectKey resultType="String" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into mms_inter(id,value,resultcode) values
        <foreach collection="mmsInters" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR},
            #{item.value,jdbcType=VARCHAR},
            #{item.resultcode,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <!--<insert id="insertInterList" parameterType="java.util.List">-->
        <!--insert into mms_inter(id,value,resultcode) values-->
        <!--<foreach collection="mmsInters" item="item" index="index" separator=",">-->
            <!--(#{item.id,jdbcType=VARCHAR},-->
            <!--#{item.value,jdbcType=VARCHAR},-->
            <!--#{item.resultcode,jdbcType=VARCHAR}-->
            <!--)-->
        <!--</foreach>-->
    <!--</insert>-->




    <!--插入更新-->
    <insert id="updateInterList" parameterType="com.it.domain.MmsInter">
        INSERT into mms_inter (
        id,
        value,
        resultcode
        ) VALUES (
        #{id},
        #{value},
        #{resultcode}
        ) ON DUPLICATE KEY UPDATE
        id =VALUES (id),
        value =VALUES (value),
        resultcode =VALUES (resultcode)
    </insert>
</mapper>